
.searchPage {
  padding: 0px;
}

.ui.cards>.card {
    font-size: 1em;
    left: 2%;
    margin: 10px;
}

.searchFilterContainer {
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 75px;
  background-color: #FA7470;
}

.searchListContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.advancedSearchButton {
  margin-top: 19px !important;
}

@media only screen and (max-width: 780px) {
  .searchFilterContainer {
    padding-top: 0px;
    height: 320px;
  }
}

body {
  background-color: #F2F2F2;
}

.campaign-form {
  padding: 20px;
  background-color: white;
}

.login-form {
  padding: 50px;
  background-color: white;
  margin-top: 75px;
  border-radius: 2%;
}

.affiliate-link {
  padding: 0px;
}

.orangeColor {
  background-color: #FA7470 !important;
  color: #000 !important;
}

.mainNav {
  /*height: 50px;*/
}

.affiliateCard {
  padding: 10px !important;
}

.affiliateButton:hover {

}

.ui.basic.teal.button:hover, .ui.basic.teal.buttons .button:hover {
  background-color: #00D8E6 !important;
  color: white;
}


/*for the Card divs on the home page*/
.ui.card>.image {
  height: 14em;
}

.ui.cards>.card {
  overflow: hidden;
  height: 28em;
}

.ui.card>.content, .ui.cards>.card>.content {
  overflow: auto;
}

.ui.cards {
  margin-top: 25px;
}

.ui.card>.extra.content, .ui.cards>.card>.extra.content {
  overflow: hidden;
}

/*for the Home Page splash image*/
.homeImageContainer {
  position: relative;
  /*display:table-cell;*/
  /*vertical-align:middle;*/
  /*text-align:center;*/
}

.homeImage {
  /*height: 50%;*/
  height: 650px !important;
  position: absolute;
  /*max-width: 80% !important;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeMessage {
  position: absolute;
  /*left: 150px;
  top: 350px;*/
  top: 25%;
  left: 21%;
  right: 21%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   line-height: 2.5em;
}

/*.x {
  line-height: 30px;
}*/
