.searchPage {
  /*padding: 20px;*/
}

.searchFilterContainer {
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 75px;
  background-color: #FA7470;
}

.searchListContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.advancedSearchButton {
  margin-top: 19px !important; 
}

body {
  background-color: #F2F2F2;
}


@media only screen and (max-width: 780px) {
  .searchFilterContainer {
    padding-top: 0px;
    height: 320px;
  }
}
